@model CampusBookFlip.WebUI.Models.LocalPasswordModel

<p>
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Set Password Form</legend>
        <div class="input-group form-group">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeHolder = "Password" })
            @Html.ValidationMessageFor(m => m.NewPassword)

        </div>
        <div class="input-group form-group">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeHolder = "Confirm password" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <input class="btn btn-primary" type="submit" value="Set password" />
    </fieldset>
}
