@model CampusBookFlip.WebUI.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>Forgot Password</h2>

<h4>Enter your username or your email</h4>

@using (Html.BeginForm("ForgotPassword", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @Html.TextBoxFor(m => m.UsernameOrEmail, new { @class = "form-control", placeHolder = "User name or email" })
    <input class="btn btn-primary" type="submit" value="Send" />
    
    @Html.SpamPreventionFields()
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Html.SpamPreventionScript()
}