@model CampusBookFlip.WebUI.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>Forgot Password</h2>

<h4>Enter your username or your email</h4>

@using (Html.BeginForm("ForgotPassword", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="input-group">
        @Html.TextBoxFor(m => m.UsernameOrEmail, new { @class = "form-control", placeHolder = "User name or email" })
        <span class="input-group-btn">
            <input class="btn btn-primary" type="submit" value="Send" />
        </span>
    </div>
    
    @Html.SpamPreventionFields()
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Html.SpamPreventionScript()
}