@model CampusBookFlip.WebUI.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<section class="social" id="socialLoginForm">
    <h2>Use another service to log in. <small>(recommended)</small></h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>
<section id="loginForm">
<h2>Use a local account to log in.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="input-group form-group">
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeHolder = "User name" })
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
    <div class="input-group form-group">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeHolder = "Password" })
        @Html.ValidationMessageFor(m => m.Password)
   </div>
    <div class="input-group form-group">
        @Html.ActionLink("Forgot password?", "ForgotPassword", "Account")
    </div>
    <div class="input-group form-group">
        <a onclick="$('#bootswitch').bootstrapSwitch('toggleState')">Remember Me?</a>
    </div>
    <div class="input-group form-group">
        @Html.CheckBoxFor(m => m.RememberMe, new { id = "bootswitch" }) 
    </div>
                
    <input class="btn btn-primary" type="submit" value="Log in" />
    
}
</section>

<div>
    @Html.ActionLink("Register", "Register") if you don't have an account.
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $('#bootswitch').bootstrapSwitch();
        });
    </script>
}
