@model CampusBookFlip.WebUI.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "ResetPassword";
}

<h2>Reset Password</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.PasswordResetToken)
    <div class="input-group form-group">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeHolder = "Password" })
        @Html.ValidationMessageFor(m => m.Password)

    </div>
    <div class="input-group form-group">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeHolder = "Confirm Password" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>
    
    <input class="btn btn-primary" type="submit" value="Reset password" />
    
    @Html.SpamPreventionFields()
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Html.SpamPreventionScript()
}