<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Campus BookFlip</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/bootstrap")
        @Styles.Render("~/Content/font-awesome")
        @Styles.Render("~/Content/social-buttons")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("Styles", required: false)
        <script type="text/javascript">
            
        </script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <a id="menu-toggle" class="navbar-brand col-md-2"  ><i id="toggle-sidebar-icon" class="fa fa-book"></i></a>
                <a href="@Url.Action("Index", "Home")" title="buy it. read it. flip it." class="navbar-brand col-md-2">Campus BookFlip</a>
                <a class="navbar-brand"><small>buy it. read it. flip it.</small></a>
                
                <button class="navbar-toggle" style="float:right" data-toggle="collapse" data-target=".navHeaderCollapse" onclick="$('#sidebar-wrapper').toggleClass('shift-down')">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="btn btn-xs btn-primary navbar-brand" style="float:right; margin-left:20px; line-height:0px; color:lightgray; text-shadow:1px 1px 7px #111; margin-top:10px;" role="button">Login&nbsp&nbsp|&nbsp&nbspRegister</a>
                <div class="collapse navbar-collapse navHeaderCollapse">
                    
                    @Html.Action("NavbarHelper", "Home")
                </div>
                
            </div>
        </div>
        <div id="wrapper">
@*            <div id="sidebar-wrapper"><!--START OF SIDEBAR -->
                <ul class="sidebar-nav">
                  <li class="sidebar-brand"><a href="#">Start Bootstrap</a></li>
                  <li><a href="#">Dashboard</a></li>
                  <li><a href="#">Shortcuts</a></li>
                  <li><a href="#">Overview</a></li>
                  <li><a href="#">Events</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
            </div><!--END OF SIDEBAR -->*@
            <div id="page-content-wrapper">
                <div class="page-content inset">
                    <div id="sidebar-active-overlay">
                        <div id="bootstrap-wrap">
                            <div id="featured-section">
                                @RenderSection("featured", required: false)
                            </div>
                            <div class="container">
                                @RenderBody()
                            </div>
                        </div>


                        <div class="navbar navbar-default navbar-fixed-bottom">
                            <div class="container">
                                @Html.Action("FooterHelper", "Home")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {@Html.AntiForgeryToken()}

        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("Scripts", required: false)
        <script type="text/javascript">function AddAntiForgeryToken(data) { try { data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').first().val(); } catch (e) { } return data; }; $("#menu-toggle").click(function (e) { console.log("click"); e.preventDefault(); $("#wrapper").toggleClass("active"); });</script>
    </body>
</html>
