@model CampusBookFlip.WebUI.Models.CollegeSearchViewModel

@{
    ViewBag.Title = "Institution";
}

<h2>Institutions</h2>
@Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-4">
        <div class="input-group">
                
        @Html.TextBoxFor(m => m.SearchText, new { @class = "form-control", placeHolder = "Search for colleges" })
                
        <span class="input-group-btn">
            <button id="click-on-enter" class="btn btn-primary" onclick="admin_search_colleges($('input#SearchText').val())" >Search</button>
        </span>
    </div>
    <script type="text/javascript">
        $("input#SearchText").keyup(function (event) {
            if (event.keyCode == 13) {
                $("#click-on-enter").click();
            }
        });
    </script>
    @Html.ValidationMessageFor(m => m.SearchText)
    </div>
</div>

<hr />

    <div id="college-search-results" class="container">
        
    </div>

<hr />


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/partial")
    <script type="text/javascript">
        function admin_search_colleges(search) {
            var post_data = { SearchText: search };
            var p = new Partial({
                url: '@Url.RouteUrl(new {controller="Institutions", action="Index"})',
                data: AddAntiForgeryToken(post_data),
                failure: function(d) {
                    console.log("failure: " + d);
                }
            });
            $('div#college-search-results').html('@Html.CenteredAjaxLoadingGif()');
            p.partial(function (data) {
                $('div#college-search-results').html(data);
                //setTimeout(function () {
                //    $('div.fade').each(function () {
                //        $(this).addClass('in');
                //    });
                //}, 100);
            });
        }

    </script>
}