@model CampusBookFlip.WebUI.Models.BookSearchTextViewModel
@{
    ViewBag.Title = "Home Page";
}
@using CampusBookFlip.WebUI.HtmlHelpers

<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="col-md-4">
            @*@Html.Bootstrap().Div(
            Html.Bootstrap().TextBoxFor(m => m.ISBN).Class("form-control").Tooltip("Use ISBN for most accurate results").Placeholder("Search text").Id("ISBN").Append(
                Html.Bootstrap().Button().Class("btn-primary").HtmlAttributes(new { onclick = "home_search_ajax_post()" }).Text("Go!"))).Class("input-group")*@
            <div class="input-group">
                
                @Html.TextBoxFor(m => m.ISBN, new { @class = "form-control", placeHolder = "ISBN" })
                
                <span class="input-group-btn">
                    <button id="click-on-enter" class="btn btn-primary" onclick="home_search_ajax_post()" >Go!</button>
                </span>
                <script type="text/javascript">
                    $("input#ISBN").keyup(function (event) {
                        if (event.keyCode == 13) {
                            $("#click-on-enter").click();
                        }
                    });
                </script>
            </div>
            @Html.ValidationMessageFor(m => m.ISBN)
        </div>
    </div>
}

@Html.BootstrapDefault("book-partial-modal", "myModalLabel", "Search Results", "modal-body", "book-partial-modal-primary-button", "OK")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/partial")
    <script type="text/javascript">
        $('#book-partial-modal-primary-button').click(function () {
            $('div#book-partial-modal').modal('hide');
        });
        function home_search_ajax_post() {
            var post_data = { 'ISBN': $('input#ISBN').val() };
            console.log(post_data);
            var p = new Partial({
                url: '@Url.RouteUrl(new { controller = "Home", action = "Search" })',
                data: AddAntiForgeryToken(post_data),
                failure: function (d) {
                    console.log("failure: " + d);
                }
            });
            $('div#modal-body').html('@Html.CenteredAjaxLoadingGif()');
            $('div#book-partial-modal').modal('show');
            p.partial(function (d) {
                $('div#modal-body').html(d);
                setTimeout(function () {
                    $('div.fade').each(function () {
                        $(this).addClass('in');
                    });
                }, 50);
            });
            
        }
    </script>
}